ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
}

ul li {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.passwd-options {
    background: rgb(255, 255, 255);
    padding: 1em;
}
  
.passwd-ready {
    display: flex;
    font-weight: 600;
    background: rgb(255, 255, 255);
    min-width: 700px;
    min-height: 80px;
    border-radius: 3px;
    font-size: 1.25em;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-weight: 500;
}